/*//to link the text
<style type="text/css">
</style>
selector{
	property:#;

}
10-15 html tags
plethora of css tags
*/
body{
	background:#999;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
}
/* HEADER */
header{
	background:pink;
	margin:0px 0px 0px 0px;
	color:white;
	/*display:inline;*/
}
section{
	background: rgb(197, 191, 191);
	/*margin:10px 10px 0px 10px;
	padding: 20px;*/
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;


	
}
div{
	background:rgb(255, 0, 140);
	
	/*display:flex; /*MUST ADD TO PARENT CONTAINER* /
	flex-direction: column;*/
	/*display: inline-block;*/
	width:500px;
	/*height:500px;*/
	padding: 20px 25px;
	margin:10px;
	flex-grow:1;
	

	
}
nav ul li {
	background: rgba(104, 102, 103, 0.774);
	color: rgb(230, 224, 225);
	padding: 10px 50px 10px 50px;
	display: inline-block;
	margin:0;
	list-style-type: none;
}
nav li{
	display: inline-block;
	margin-right:20px;
}
h2{
	font-size: 300%;
}
button{
	background: gray;
	border: none;
	color: white;
	 
}

/*Class specified. Does not get overridden in thee cascaded sheet
Overrides above
*/
.logo{
	background: none;
	color:white;
	font-stretch: expanded;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 500%;
	width:1500px;
	height:200px;
	padding: 50px 50px;

	
	
}
header .logowolf{
	color:white;
	font-stretch: expanded;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 500%;
	width:1500px;
	height:200px;
	padding: 50px 50px;
	background-color: black;
	background-image: url("images/gangphoto.jpg");
	background-size: 45%;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	text-indent: -999999px;
	top: -30px;
	width: 300px;
}
.intro{
	background: blue;
	margin:0;
	padding: 50px 100px 50px 100px;
	width:500px;
	font-family: 'Arial Narrow Bold';
	font-size: 300%;
}
/* FEATURES */
.flex-container{
	background: gray;
	color:gray;
	padding: 20px;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
	height: 500px;
	
}
.flex-container figure{
	margin: auto;
	padding: 50px 0px 50px 0px;
	width: 200px;
	text-align: center; 
	text-transform: uppercase;
	
}
.flex-container figure img{
	
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: yellow 0px 0px 10px;
}

p ul li{
	background: orange;
}
/* FOOTER */
footer{
	clear:both;
	background:pink;
	padding: 10px 20px;
	text-align: right;
	color: gray;
	font-size:20px;
}